*.swp
/.idea
__pycache__
*.db

DAKAexchange\.iml

out/production/DAKAexchange/controllers/MainWindowController\.class

out/production/DAKAexchange/main\.class

out/production/DAKAexchange/resources/view/MainWindowView\.fxml

out/production/DAKAexchange/controllers/

out/production/DAKAexchange/resources/view/OfferTabView\.fxml

out/production/DAKAexchange/resources/view/
