*.swp
/.idea
__pycache__
*.db

DAKAexchange\.iml

out/production/DAKAexchange/controllers/MainWindowController\.class

out/production/DAKAexchange/main\.class

out/production/DAKAexchange/resources/view/MainWindowView\.fxml
