{% extends 'base.html' %}
{% block content %}

<div class="col" >
    <div class="text-lg-center">
        Buy a swipe
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="text-right">
            Approximate Swipe In time:
        </div>
    </div>
    <div class="col-4">
        <div class="text-left">
            <input name="timeSearch" id="timeSearch" type="date">
        </div>
    </div>
    <div class="col-2">
        <button style="background-color: #660000" id="searchButton" type="submit" class="btn btn-primary btn-block">Search</button>
    </div>
</div>

<table class="table table-striped" id="swipesTable">
    <tbody></tbody>
</table>

<script type="text/javascript">
    $(document).ready(function() {
        $('#searchButton').click(function () {
            $.getJSON($SCRIPT_ROOT + "/getAvailableSellers", {
                time: $("#timeSearch").value
            }, function (data) {
                $('#swipesTable tr').remove();

                if(data.length === 0) {
                    $('table tbody').append("<center>Sorry, no swipes available!</center>");
                }
                else {
                    for(var i = 0; i < data.length; i++) {
                        var markup = "<tr><td>" + data[i][0] + "</td>" +
                            "<td>" + data[i][1] + "</td>" +
                            "<td>" + data[i][4] + "</td>" +
                            "<td> Swipe me! </tr>";

                        $('table tbody').append(markup);
                    }
                }
            });
        });
    });
</script>

{% endblock %}