{% extends 'base.html' %}
{% block content %}

<div class="grid">
    <form action="{{  url_for('buy') }}" method="POST">
        <div class="row">
            <div class="col" >
                <div class="text-lg-center">
                    <div class="text-center">
                        <h2>Buy a swipe</h2>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 10px">
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                    <div class="text-right">
                        Approximate Swipe In time
                    </div>
                </div>
                <div class="col-sm-3">
                    <input name="timeSearch" id="timeSearch" type="time" value="{{ time }}">
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="row mt-sm-5" style="padding-top: 10px">
                <div class="col-sm-5"></div>
                <div class="col-sm-2">
                    <input style="background-color: #660000" id="searchButton" type="submit" class="btn btn-primary btn-block" >
                </div>
                <div class="col-sm-5"></div>
            </div>
        </div>
    </form>
</div>

<div class="row" style="padding-top: 10px; padding-bottom: 10px">
    <div class="col-sm-12">
        <div class="text-center">
            <h3>Available Swipes</h3>
        </div>
    </div>
</div>

{% if sellers|length == 0 %}
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                Unfortunately, there are no sellers for that time :(
            </div>
        </div>
    </div>
{% else %}
    <table class="table table-striped align-content-center text-center" id="swipesTable" width="70%">
        <tbody>
            {% for seller in sellers %}
                <tr>
                    <td>{{ seller[1] }}</td>
                    <td>${{ seller[2] }}</td>
                    {%  if not current_user.is_authenticated %}
                        <td><a href="{{ url_for('login') }}">Login</a> to buy this swipe!</td>
                    {% else %}
                        <td><a href="{{ url_for('createTransaction',
                                        buyer_id=current_user.id,
                                        seller_id=seller[3]) }}" >
                            <button class="btn btn-success">Swipe me in!</button></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}